.image-display {
  margin-bottom: 30px;
  animation: fadeIn 3s;
  height: 30%;
  width: 30%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pull-video {
  width: 100%;
  height: 100%;
}
